body {
  color: #fff;
  background: #000;
}

.container {
  max-width: 1140px !important;
}

.table {
  border-spacing: 0 0.85rem !important;
}

.table .dropdown {
  display: inline-block;
  right: -30%;
}

.table .dropdown ul li {
  width : 100%;
  height: 2.5rem;
}

.table .dropdown .dropdown-menu {
  padding: 1rem 0 0 0;
}

.table td,
.table th {
  color: #000;
  vertical-align: middle;
  margin-bottom: 10px;
  border: none;
}

.table thead tr,
.table thead th {
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
}

.table thead .identity {
  width: 60% !important;
}

.table .child {
  background: antiquewhite;
  transition: height 10s ease;
}

.table td {
  background: #fff;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table tbody th,
.table tbody td {
  height: 60px;
  padding: 0px 5px 0px 5px;
}

.avatar {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.70rem;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  position: relative;
  text-align: center;
  color: #868e96;
  font-weight: 700;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr
  > th:first-child:before {
    top: 28px; 
    left: 14px;
    border: none;
    margin-left: 5px;
    box-shadow: none;
    width: 14px;
    content: '+';
    color: #31b131;
    font-size: larger;
    font-weight: 900;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    line-height: 14px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, 
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before 
{
    content: '-';
    color: #d33333;
}

table.dataTable.dtr-control.collapsed > tbody > tr > td:first-child,
table.dataTable.dtr-control.collapsed > tbody > tr > th:first-child 
{
  padding-left: 48px;
  margin-left: 40px;
}


table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title {
  min-width: 40%;
}

table.dataTable > tbody > tr.child span.dtr-data {
  min-width: 60%;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty 
{
  padding: 0.75rem 1rem 0.75rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.btn-icon {
  background: #fff;
}
.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dt-buttons {
  margin-top: 10px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.5em 0.75em;
}

.badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.table a {
    margin-left: 0px;
    margin-top: -10px;
    text-decoration: none;
    position: absolute;
    color: #212529;
}

.table a:hover,
.table a:focus {
  text-decoration: none;
}

.table a .info {
  padding-left: 10px;
}

table.dataTable {
  margin-top: 12px !important;
}

.icon > .bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.btn {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}

.avatar-green {
  background-color: #BDF8B1;
  color: #2DE407;
}

.avatar-yellow {
  background-color: #EEEEBA;
  color: #D0D305;
}

/* 1er test Pagination */
.pagination-outer{ text-align: center; }
.pagination {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    position: relative;
} 
.pagination li a.page-link {
    color: #42372c;
    background: transparent;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    font-weight: 900;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 4px;
    border: none;
    border-radius: 50% !important;
    display: block;
    position: relative;
    z-index: 0;
    transition: all 0.1s ease 0s;
}
.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    font-size: 32px;
    line-height: 36px;
}

.previous i,
.next i {
  font-size: 20px;
  line-height: 20px;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
    color: #000;
    background: transparent;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after {
    content: '';
    background: linear-gradient(transparent 50%,#1bc6d6 50%);
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:after {
    background: linear-gradient(#e2e2e2,#fff);
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
}
.pagination li a.page-link:hover:before,
.pagination li a[data-dt-idx = "first, next, previous, last"].page-link:focus:before,
.pagination li.active a.page-link:hover:before,
.pagination li.active a.page-link:before 
{
    background: linear-gradient(transparent 50%,#44d61b 50%);
    transform: rotate(180deg);
}

.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:hover:after,
.pagination li.active a.page-link:after 
{
    transform: rotate(180deg);
}

@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 15px;
    }
}
